.order-grid {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 30% 30% 40%;
  grid-template-rows: 1fr 200px;
  padding: 50px 50px 50px 100px;
}
/* @media only screen and (max-width: 1200px) {
  .order-grid {
    display: grid;
    grid-gap: 5px;
    grid-template-columns: 100%;
    padding: 100px 50px 0px 100px;
  }
} */

.order-grid > div {
  border: 1px solid black;
}
